* {
    font-family: 'Poppins';
    text-align: justify;
}

p {
    text-align: justify;
}

html {
    scroll-behavior: smooth;
}



.body{
    background: url('backgroundsate.jpg');
    
    color: black;
}

@keyframes animasi {
    from {
        background-color: rgba(255, 255, 255, 0.11);
    }
    to {
        background-color: white;
    }
}

.container {
    background-color: rgba(255, 255, 255, 0.096);
    width: 1000px;
    margin: auto;
    backdrop-filter: blur(10px);
    padding: 10px;
    transition: 0.5s;
    animation: animasi 0.5s   iteration-count direction fill-mode;
    border: 0.5px solid rgba(255, 137, 3, 0.116);
}



.header {
    padding: 10px;
}

.gambarmakanan {
    display: flex;
    flex-direction: row;
}

.gambarmakanan > img {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    row-gap: 10000px;
    flex-wrap: wrap;
    border: solid brown 2px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-right: 160px;

}

.gambarmakanan img:hover {
    height: 250px;
    width: 250px;
    gap: 100;
    row-gap: 100;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman';
}

.garisheader {
    border: solid black 2px;
}

.isiheaders {
    display: flex;
    flex-direction: row;
    padding: 1px 8px;
}

.header ul  {
    display: flex;
    justify-content: center;
}

.fotodistros {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    gap: 20px;
    align-items: center;
}

.whatsapp {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    gap: 20px;
    align-items: center;
}

.logodistro {
    display: flex;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    flex-wrap: wrap;

}

.fotodistros:has(.logodistro:hover) :not(:hover){
    filter: grayscale(100%) blur(2px);
}

.logodistro:hover {
    width: 80px;
    height: 80px;
}

#isimoto {
    color: brown;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.5s;
}
.header img {
    height: 25px;
    width: 25px;
    display: flex;
    margin-top: 3.5px;
    transition: 0.5s;
}

.header a:hover {
    background-color: rgba(255, 255, 255, 0.473);
    color: rgb(151, 60, 0);
    font-size: 35px;
}

#profil {
    border: solid black 2px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: 0.5s;

}

#profil:hover {
    border-radius: 25%;
    height: 250px;
    width: 250px;
}

.main {
    width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}



.sidebar {
    width: 300px;
    padding-right: -300px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;
    margin: auto;
    transition: 0.5s;
}

.sidebar img:hover {
    height: 80px;
    width: 80px;
    .tulisansosmed{
        opacity: 100%;
    }
}

.sidebar:has(img:hover) :not(:hover) {
    filter: grayscale(100) blur(2px);
    
}

.whatsapp {
    transition: 0.5s;
    height: 80px;
    width: 80px;
}

.whatsapp:hover {
    height: 110px;
    width: 110px;
}

.main:hover hr {
    width: 400px;
}

.content:hover hr {
    width: 400px;
}

.logooses {
    display: flex;
    flex-direction: row;
    gap: -2px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logoos:hover {
    height: 70px;
    width: 70px;
}

.logooses:has(.logoos:hover) :not(:hover){
    filter: grayscale(100) blur(2px);

}

.logoos {
    display: flex;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    flex-direction: row;
    gap: -200px;
}

.sidebar img {
    color: rgb(155, 62, 0); 
    text-decoration: none;
    height: 50px;
    width: 50px;
    transition: 0.5s;
    .tulisansosmed{
        opacity: 0%;
    }
}


.navbar > li > a {
    padding-right: 10px;
}

/*Menghilangkan efek float */
.cf::before,
.cf:after{
    content: "";
    display: table;
}

.cf:after{
    clear: both;
}

.cf {
    zoom: 1;
}

.footer {
    backdrop-filter: blur(10px);
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.096);
    
}

.footer .copy {
    color: rgb(146, 58, 0);
    text-align: center;
    font-size: 15px;
}



.greatcontainer {
    margin: auto;
    display: flex;
    width: 100px;
    height: 100px;
}

.poto {
    width: 500px;
    height: 100px;
}

hr {
    background: 20px;
    width: 50px;
    transition: 0.5s;
    gap: 7;
    color: rgba(199, 109, 6, 0.89);
}

.header:hover hr {
    width: 400px;
}

#satemadura:hover hr {
    width: 400px;
}

#satepadang:hover hr {
    width: 400px;
}

#satemaranggi:hover hr {
    width: 400px;
}

#satelilit:hover hr {
    width: 400px;
}

/*....................../*






