* {
    text-align: justify;
    font-family: "Poppins";
    text-align: justify;
}

p {
    text-align: justify;
}

.wa:hover {
    width: 80px;
    height: 80px;
}

h1 {
    font-family: "Poppins";
}

::-webkit-scrollbar {
    width: 0;
}

.body{
    background: url('backgroundsate.jpg');
    
    color: black;
}

@keyframes animasi {
    from {
        background-color: rgba(255, 255, 255, 0.11);
    }
    to {
        background-color: white;
    }
}



.container {
    background-color: rgba(255, 255, 255, 0.096);
    width: 1000px;
    margin: auto;
    padding: 100px;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    animation: animasi 0.5s   iteration-count direction fill-mode;
    border: 0.5px solid rgba(252, 113, 0, 0.281);
}



.header {
    padding: 10px;
}

.gambarmakanan {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.gambarmakanan:has(img:hover) img:not(:hover) {
    filter: grayscale(100%) blur(2px);
}

.gambarmakanan > img {
    display: flex;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    flex-wrap: wrap;
    border: solid brown 0.5px;
    border-radius: 50%;
    
}

.gambarmakanan img:hover {
    height: 250px;
    width: 250px;
    gap: 100;
    row-gap: 100;
    border-radius: 15px;
}

.sidebar:has(.logososmed:hover) :not(:hover) {
    filter: grayscale(100) blur(2px);
}




.header .judul {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman';
}

.garisheader {
    border: solid black 2px;
}

.isiheaders {
    display: flex;
    flex-direction: row;
    padding: 1px 8px;
}

.header ul  {
    display: flex;
    justify-content: center;
}

.navbar {
    margin: auto;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: 0.5s;
}

.header a:hover {
    background-color: rgba(255, 255, 255, 0.473);
    color: rgb(151, 60, 0);
    font-size: 35px;
}

.main {
    width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}



.sidebar {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.sidebar img:hover {
    height: 80px;
    width: 80px;
}

#logoinstagram{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logotwitter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tiktoklogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#githublogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#githubtulisan {
    opacity: 1;
}

.sidebar img {
    color: rgb(155, 62, 0); 
    text-decoration: none;
    height: 50px;
    width: 50px;
    transition: 0.5s;
}


/*Menghilangkan efek float */
.cf::before,
.cf:after{
    content: "";
    display: table;
}

.cf:after{
    clear: both;
}

.cf {
    zoom: 1;
}

.footer {
    backdrop-filter: blur(10px);
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.096);
    
}

.footer .copy {
    color: rgb(146, 58, 0);
    text-align: center;
    font-size: 15px;
}



.greatcontainer {
    margin: auto;
    display: flex;
    width: 100px;
    height: 100px;
}



.poto {
    width: 500px;
    height: 100px;
}

hr {
    background: 20px;
    color: rgba(199, 109, 6, 0.89);
    width: 50px;
    transition: 0.5s;
    gap: 7;
}

.header:hover hr {
    width: 400px;
}

#satemadura:hover hr {
    width: 400px;
}

#satepadang:hover hr {
    width: 400px;
}

#satemaranggi:hover hr {
    width: 400px;
}

#satelilit:hover hr {
    width: 400px;
}




/*....................../*






